<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
 <key>unit</key>
 <string>6,2,7,1,1,2,3,6,5,6,0,3,2,6,4,6</string>
  <key>sign</key>
 <string>138751363692014</string>
        <key>frames</key>
        <dict>
            <key>138751363692014_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{50,104}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,511},{50,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{48,104}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,511},{48,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,106},{50,102}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,512},{50,102}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{48,112}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,507},{48,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{46,112}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,507},{46,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,116},{46,112}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,507},{46,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{50,122}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,494},{50,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,256},{48,120}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,496},{48,120}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_0_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,126},{50,122}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,494},{50,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,104},{64,98}}</string>
                <key>offset</key>
                <string>{12,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,515},{64,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{60,66}}</string>
                <key>offset</key>
                <string>{7,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,628},{60,66}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,106},{54,100}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,519},{54,100}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,130},{124,58}}</string>
                <key>offset</key>
                <string>{-112,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,569},{124,58}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_1_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{62,102}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,507},{62,102}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,234},{60,70}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,516},{60,70}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,242},{62,104}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,512},{62,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{54,114}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,505},{54,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,116},{56,112}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,506},{56,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{52,104}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,512},{52,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{48,118}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,505},{48,118}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,108},{52,104}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,505},{52,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{66,102}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,511},{66,102}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,230},{74,98}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{468,510},{74,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,210},{94,96}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,509},{94,96}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,234},{70,100}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{475,510},{70,100}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,218},{82,98}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,507},{82,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{100,104}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,505},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,108},{60,104}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,508},{60,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,212},{56,92}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,511},{56,92}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{56,112}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,506},{56,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,110},{52,106}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,506},{52,106}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,2},{48,100}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,507},{48,100}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,118},{52,114}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,504},{52,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,108},{48,104}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,511},{48,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,2},{54,98}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,529},{54,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,120},{58,116}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,492},{58,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{58,112}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,504},{58,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,110},{60,106}}</string>
                <key>offset</key>
                <string>{3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,510},{60,106}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{46,116}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,500},{46,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{48,116}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,503},{48,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,212},{78,92}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,524},{78,92}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,112},{106,86}}</string>
                <key>offset</key>
                <string>{50,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{509,527},{106,86}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,214},{78,96}}</string>
                <key>offset</key>
                <string>{24,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,518},{78,96}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,214},{78,88}}</string>
                <key>offset</key>
                <string>{24,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,527},{78,88}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{60,110}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,505},{60,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,126}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,490},{48,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,118},{54,114}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,504},{54,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,202},{58,94}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,545},{58,94}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,248},{56,116}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,524},{56,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{60,116}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,524},{60,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_3_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,120},{46,116}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,500},{46,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{42,110}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,508},{42,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,116},{42,112}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,506},{42,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{38,114}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,504},{38,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,116},{32,112}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,506},{32,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{38,102}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,514},{38,102}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{52,104}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,515},{52,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,114},{80,108}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,506},{80,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,232},{72,108}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{480,506},{72,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{68,114}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,500},{68,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,120},{70,116}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,498},{70,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,118},{84,112}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,500},{84,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{78,116}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,498},{78,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{42,120}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,502},{42,120}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,122},{42,118}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,504},{42,118}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{38,124}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,498},{38,124}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,136},{32,128}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,494},{32,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{38,128}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,490},{38,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_4_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,132}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,489},{52,132}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,102},{52,98}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,527},{52,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,220},{56,84}}</string>
                <key>offset</key>
                <string>{8,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,541},{56,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{54,122}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,478},{54,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{56,106}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,485},{56,106}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,204},{58,98}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,510},{58,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{46,108}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,506},{46,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,108},{96,102}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,514},{96,102}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,224},{80,84}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,531},{80,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,238},{66,110}}</string>
                <key>offset</key>
                <string>{43,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{522,501},{66,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,120},{68,114}}</string>
                <key>offset</key>
                <string>{40,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{518,493},{68,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,230},{72,86}}</string>
                <key>offset</key>
                <string>{23,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,525},{72,86}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{66,106}}</string>
                <key>offset</key>
                <string>{20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,514},{66,106}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,124},{52,118}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,511},{52,118}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,108},{56,104}}</string>
                <key>offset</key>
                <string>{-9,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,526},{56,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,128},{54,124}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,510},{54,124}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{56,124}}</string>
                <key>offset</key>
                <string>{13,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,513},{56,124}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{58,108}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,527},{58,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_5_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,126},{44,120}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,515},{44,120}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_6_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,108},{50,104}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,511},{50,104}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_6_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,214},{50,88}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,527},{50,88}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_6_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,114},{52,110}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,509},{52,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_6_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,238},{66,106}}</string>
                <key>offset</key>
                <string>{-16,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{463,513},{66,106}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_6_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,120},{50,116}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,500},{50,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_6_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{50,116}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,500},{50,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>138751363692014_7_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,218},{58,86}}</string>
                <key>offset</key>
                <string>{-7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,541},{58,86}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100.pvr.ccz</string>
            <key>size</key>
            <string>{2048,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b4413137f3b2fda86f2891f3a2141f7$</string>
            <key>textureFileName</key>
            <string>100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
