<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
 <key>unit</key>
 <string>7,6,0,3,2,6</string>
  <key>sign</key>
 <string>14085040176750</string>
        <key>frames</key>
        <dict>
            <key>14085040176750_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{76,78}}</string>
                <key>offset</key>
                <string>{9,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,572},{76,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,258},{74,78}}</string>
                <key>offset</key>
                <string>{10,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,571},{74,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{76,76}}</string>
                <key>offset</key>
                <string>{9,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,573},{76,76}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{56,90}}</string>
                <key>offset</key>
                <string>{-14,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,566},{56,90}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{54,90}}</string>
                <key>offset</key>
                <string>{-12,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,565},{54,90}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,90}}</string>
                <key>offset</key>
                <string>{-14,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,565},{56,90}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,360},{74,84}}</string>
                <key>offset</key>
                <string>{-10,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,559},{74,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,186},{76,86}}</string>
                <key>offset</key>
                <string>{-11,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,557},{76,86}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_0_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,274},{76,84}}</string>
                <key>offset</key>
                <string>{-11,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,559},{76,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,82},{72,78}}</string>
                <key>offset</key>
                <string>{10,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,566},{72,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,418},{72,76}}</string>
                <key>offset</key>
                <string>{9,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,568},{72,76}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,338},{68,78}}</string>
                <key>offset</key>
                <string>{8,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,569},{68,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,446},{64,80}}</string>
                <key>offset</key>
                <string>{6,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,566},{64,80}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,446},{64,80}}</string>
                <key>offset</key>
                <string>{7,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,567},{64,80}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{68,78}}</string>
                <key>offset</key>
                <string>{9,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,570},{68,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{56,88}}</string>
                <key>offset</key>
                <string>{-5,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,562},{56,88}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{56,86}}</string>
                <key>offset</key>
                <string>{-6,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,563},{56,86}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,84}}</string>
                <key>offset</key>
                <string>{-9,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,566},{58,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,88},{60,84}}</string>
                <key>offset</key>
                <string>{-8,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,563},{60,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{60,84}}</string>
                <key>offset</key>
                <string>{-8,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,564},{60,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{54,86}}</string>
                <key>offset</key>
                <string>{-7,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,566},{54,86}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,88},{70,80}}</string>
                <key>offset</key>
                <string>{-11,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,557},{70,80}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,170},{72,78}}</string>
                <key>offset</key>
                <string>{-10,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,561},{72,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,242},{70,76}}</string>
                <key>offset</key>
                <string>{-9,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,561},{70,76}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,162},{64,78}}</string>
                <key>offset</key>
                <string>{-8,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,558},{64,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,250},{64,78}}</string>
                <key>offset</key>
                <string>{-9,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,560},{64,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,162},{68,76}}</string>
                <key>offset</key>
                <string>{-10,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,563},{68,76}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_7_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,360},{74,84}}</string>
                <key>offset</key>
                <string>{-10,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,559},{74,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,174},{48,82}}</string>
                <key>offset</key>
                <string>{11,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,548},{48,82}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,82},{50,78}}</string>
                <key>offset</key>
                <string>{9,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,554},{50,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_7_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{54,58}}</string>
                <key>offset</key>
                <string>{3,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,588},{54,58}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_7_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,88},{46,84}}</string>
                <key>offset</key>
                <string>{-6,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,553},{46,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14085040176750_7_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,80},{70,64}}</string>
                <key>offset</key>
                <string>{-11,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,579},{70,64}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20006.pvr.ccz</string>
            <key>size</key>
            <string>{464,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:107d4a2fd60526f7ecbd00725627b8f9$</string>
            <key>textureFileName</key>
            <string>20006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
