<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
 <key>effect</key>
 <integer>6</integer>
  <key>sign</key>
 <string>1408443590682</string>
        <key>frames</key>
        <dict>
            <key>1408443590682_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{122,132}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,183},{122,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1408443590682_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{244,234}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,116},{244,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1408443590682_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{256,240}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,119},{256,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1408443590682_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,244}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,120},{256,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1408443590682_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,244}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,120},{256,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1408443590682_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{256,228}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,139},{256,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozha.pvr.ccz</string>
            <key>size</key>
            <string>{1394,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e550625c3b5db28b6cc533b7e714af2f$</string>
            <key>textureFileName</key>
            <string>baozha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
