<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
 <key>effect</key>
 <integer>6</integer>
  <key>sign</key>
 <string>1387767650755390</string>
        <key>frames</key>
        <dict>
            <key>1387767650755390_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{118,188}}</string>
                <key>offset</key>
                <string>{3,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,355},{118,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>1387767650755390_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{128,194}}</string>
                <key>offset</key>
                <string>{2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,355},{128,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>1387767650755390_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,238}}</string>
                <key>offset</key>
                <string>{3,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,309},{136,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>1387767650755390_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,242}}</string>
                <key>offset</key>
                <string>{3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,306},{144,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>1387767650755390_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{146,194}}</string>
                <key>offset</key>
                <string>{3,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,355},{146,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>1387767650755390_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,122},{102,116}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,417},{102,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiji.pvr.ccz</string>
            <key>size</key>
            <string>{754,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1f2e1cd796ef9316a27fc1d1e28971$</string>
            <key>textureFileName</key>
            <string>caiji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
